#ignore env files
*.env

#ignore py cache
*.pyc

#Content Links
act_content_links.txt
shakespeare_and_translation.csv
shakespeare_and_translation_original_data.csv
cleaned_data.csv

#testing out things files
testing_scrape.py
scrape_text_preprocess_test.py